<tr id="replyheader-1337" name="replyheader">
  <td width="50" align="left" valign="middle" class="defbg postbuts" height="20">
   <a href="#1337">
    <img src="http://cdn.bierdopje.eu/g/if/forum/icon_minipost.gif" width="12" height="9" alt="Bericht" border="0">
  </a>
  <span class="postname">
    <a href="#" class="user user">BD Forum Enhancer</a>
  </span>
  </td>
  <td nowrap="nowrap" valign="middle" align="right" class="defbg postbuts" height="20">
    <p align="left">&nbsp;</p>
  </td>
   <td nowrap="nowrap" valign="middle" align="right" class="defbg postbuts" height="20">&nbsp;</td>
</tr>
<tr id="replyside-1337" name="replyside">
  <td width="150" align="left" valign="top" class="userinfo">
    <span class="postdetails"><br><img src="http://eih.bz/s1/2015123000.png"><br><br><br><br><br><br></span><br></td>
  <td class="posttext" valign="top" colspan="2">
    <span class="postbody twbs" id="BD_FORUM_GAMES_ENHANCER">
      <div class="container-fluid">
        
      </div>
    </span>
    <span class="gensmall"></span>
  </td>
</tr>