<div class="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="periode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="BD__selected_periode">Periode</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu BD__select_period" aria-labelledby="periode">
        {{#each scoreBoards}}
          <li><a data-start="{{ start }}" href="#">{{ start }} - {{ end }}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="scoreboardsDiv col-md-12">
    {{#each scoreBoards}}
      {{> scoreboard }}
    {{/each}}
  </div>
</div>